@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

i {
    font-size: 6rem;
}

.container_img_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.container_img_text i {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
}

img {
    width: 50vw;
    height: 100vh;
    transition: transform 600ms;
    object-fit: cover;
}

img.left {
    transform: translateX(-100vw);
}

img.right {
    transform: translateX(100vw);
}

img.next {
    display: none;
}